.home {
    width: em(600px);
    margin-top: em(35px);
    text-align: center;

    h2 {
        font-size: rem(45px);
        margin-bottom: rem(25px);
        color: rgba(238, 64, 131, 0.8588235294);
    }

    p {
        margin-bottom: rem(15px);
        font-size: rem(20px);
    }

    .list-container {
        h3{
            margin-bottom: rem(15px);
            font-size: rem(25px);
        }
        .move-list {
            display: flex;
            justify-content:center;
            gap: rem(25px);
            margin-bottom: rem(25px);
        }

        .move-preivew {
            h4{
                margin-bottom: rem(15px);
                font-weight: 400;
                margin-bottom: rem(10px);
            }
            background-color: rgba(240, 248, 255, 0.394);
            //margin-right: rem(25px);
            padding: rem(15px);
            border-radius: rem(15px);
            width: rem(250px);
        }

    }

    .home-btc-icon {
        margin: 30px 0;
        animation: spin 4s linear infinite;
        width: 120px;

        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }
    }

}