.contact-edit {
    width: rem(400px);
    margin-top: rem(50px);

    h2 {
        margin-bottom: rem(35px);
        font-size: rem(32px);
    }

    form {
        display: flex;
        flex-direction: column;
        gap: rem(15px);

        button {
            background-color:rgba(238, 64, 131, 0.8588235294);
            padding: rem(9px);
            border: none;
            font-weight: 500;
            color: white;
            font-size: rem(14px);
        }
        button:hover{
            background-color: rgb(199, 199, 199);
            color: black;
        }
        input {
            padding: rem(7px);
            outline: none;
        }
    }
}